.HomePage {
    width: 100%;
    margin-top: 50px;
}

.Navbar {
    width: 100%;
    position: fixed;
}

.home-content {
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.posts {
    overflow-x: hidden;
    width: 100%;
    max-width: 600px;
    padding: 5px;
    flex-direction: column;
}

.posts>.Post {
    width: 100%;
    margin-bottom: 60px;
}

/* .chats {
    width: 100px;
    height: 100px;
    background-color:red;
} */