/* .Inbox {
    position: relative;
    width: 90vw;
    max-width: 935px;
    align-items: start;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.Inbox .left-box {
    position: relative;
    width: 300px;
    height: 100%;
}

.Inbox .header {
    min-height: 65px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Inbox .last-chat-time {
    font-size: 12px;
    color: rgb(116, 116, 116)
}

.Inbox .left-box .header .edit-image {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
}

.Inbox .edit-image {
    cursor: pointer;
}

.Inbox .user-list, .Inbox .ChatList {
    flex: 1;
    width: 100%;
}

.Inbox .user-list {
    overflow: hidden;
}

.Inbox .left-box, .Inbox .right-box, .right-container, .ChatList {
    display: flex;
    flex-direction: column;
}

.Inbox .right-box {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Inbox .right-container {
    flex: 1;
    width: 100%;
    padding: 0 10px;
    background-color:red;
}

.Inbox .ChatList {
    background-color:yellow;
    height: 10px;
}

.Inbox .UserListItem:hover {
    background-color: #FAFAFA
}

.Inbox .InputView {
    display: absolute;
}

@media (max-width: 935px) {
    .Inbox {
        margin: 0;
        width: 100vw;
        height: 92.5vh;
    }
    .Inbox .ChatList {
        max-height: 90%;
        min-height: 90%;
    }
}

@media (min-width: 935px) {
    .Inbox {
        height: 80vh;
        margin-top: 40px
    }
} */

.Inbox {
    width: 80%;
    max-width: 935px;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 20px;
    align-items: start;
}

.Inbox .header {
    height: 65px;
    font-weight: bold;
    width: 100%;
}

.Inbox .edit-image {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
    cursor: pointer;
}

.Inbox .left-box {
    position: relative;
    width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: start;
}

.Inbox .user-list {
    flex: 1;
    overflow-y: 'scroll';
    width: 100%;
}

.Inbox .right-box {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.Inbox .chat-view {
    height: 100%;
    margin: 0 10px;
}

.Inbox .ChatList {
    height: 75%;
    overflow-y: scroll;
    padding: 0 10px;
    margin-bottom: 20px;
}

.Inbox .UserListItem:hover {
    background-color: #FAFAFA
}

.Inbox .InputView {
    margin: 0 10px;
    bottom: 10px;
}

@media (max-width: 935px) {
    .Inbox {
        margin-top: 20px;
        width: 100%;
        height: calc(100vh - 62px);
    }
}