.Inbox {
    width: 80%;
    max-width: 935px;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 20px;
    align-items: start;
}

.Inbox .header {
    height: 65px;
    font-weight: bold;
    width: 100%;
}

.Inbox .edit-image {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
    cursor: pointer;
}

.Inbox .left-box {
    position: relative;
    width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: start;
    overflow-x: hidden;
}

.Inbox .user-list {
    flex: 1;
    overflow-y: 'scroll';
    width: 100%;
}

.Inbox .UserListItem:hover {
    background-color: #FAFAFA
}

.Inbox .right-box {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.Inbox .chat-view {
    height: 100%;
    margin: 0 10px;
}

.Inbox .ChatList {
    height: 75%;
    overflow-y: scroll;
    padding: 0 10px;
    margin-bottom: 20px;
}

.Inbox .ChatList::-webkit-scrollbar {
    display: none;
}

.Inbox .InputView {
    margin: 0 10px;
    bottom: 10px;
}

@media (max-width: 935px) {
    .Inbox {
        margin-top: 20px;
        width: 100%;
        height: calc(100vh - 62px);
    }
}