.Inbox {
    position: relative;
    width: 90vw;
    max-width: 935px;
    align-items: start;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Inbox .left-box {
    position: relative;
    width: 300px;
    height: 100%;
}

.Inbox .header {
    min-height: 65px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Inbox .last-chat-time {
    font-size: 12px;
    color: rgb(116, 116, 116)
}

.Inbox .left-box .header .edit-image {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
}

.Inbox .edit-image {
    cursor: pointer;
}

.Inbox .user-list, .Inbox .ChatList {
    flex: 1;
    width: 100%;
}

.Inbox .user-list {
    overflow: hidden;
    overflow-y: scroll;
}

.Inbox .left-box, .Inbox .right-box, .right-container, .ChatList {
    display: flex;
    flex-direction: column;
}

.Inbox .right-box {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: start;
}

.Inbox .right-container {
    flex: 1;
    width: 95%;
    align-self: center;
}

.Inbox .ChatList {
    overflow-y: scroll;
    max-height: 83%;
    min-height: 83%;
    align-self: center;
    flex: 1;
}

.Inbox .UserListItem:hover {
    background-color: #FAFAFA
}

@media (max-width: 935px) {
    .Inbox {
        margin: 0;
        width: 100vw;
        height: 92.5vh;
    }
    .Inbox .ChatList {
        max-height: 90%;
        min-height: 90%;
    }
}

@media (min-width: 935px) {
    .Inbox {
        height: 80vh;
        margin-top: 40px
    }
}