.Post {
    padding: 0;
    overflow: hidden;
}

.Post .info {
    display: flex;
    align-items: center;
    padding: 5px;
}

.Post .Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 10px;
}

.Post .spacer {
    flex: 1;
}

.Post .menu-dots {
    width: 16px;
    height: 16px;
    padding: 10px;
}

.Post .post-image {
    max-height: 600px;
    width: 100%;
    object-fit: contain;
}

.Post .actions-div {
    display: flex;
    padding: 10px;
}

.Post .CustomButton {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.Post .caption {
    padding: 8px;
}

.Post #heart {
    /* animation: bubble2 0.6s infinite; */
}

@keyframes bubble2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1);
    }
}